In [18]:
# conda install -c conda-forge tensorflow=1.15

In [30]:
import tensorflow as tf
import numpy as np
from pandas.io.parsers import read_csv
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [31]:
data = read_csv('price_data.csv', sep=',')

In [32]:
data['year_1'] = data['year'].apply(lambda x: str(x)[:4])
data['month'] = data['year'].apply(lambda x: str(x)[4:6])
data.head()

       year  avgTemp  minTemp  maxTemp  rainFall  avgPrice year_1 month
0  20100101     -4.9    -11.0      0.9       0.0      2123   2010    01
1  20100102     -3.1     -5.5      5.5       0.8      2123   2010    01
2  20100103     -2.9     -6.9      1.4       0.0      2123   2010    01
3  20100104     -1.8     -5.1      2.2       5.9      2020   2010    01
4  20100105     -5.2     -8.7     -1.8       0.7      2060   2010    01

In [33]:
data.tail()

          year  avgTemp  minTemp  maxTemp  rainFall  avgPrice year_1 month
2917  20171227     -3.9     -8.0      0.7       0.0      2865   2017    12
2918  20171228     -1.5     -6.9      3.7       0.0      2884   2017    12
2919  20171229      2.9     -2.1      8.0       0.0      2901   2017    12
2920  20171230      2.9     -1.6      7.1       0.6      2901   2017    12
2921  20171231      2.1     -2.0      5.8       0.4      2901   2017    12

In [34]:
# data1 = data.groupby(['year_1','month'])
# data1

In [35]:
# data['avgprice_1'] = data.groupby(['year_1','month']).apply(np.mean)
# data.head()

In [36]:
# data1['avgPrice_1'] = data

In [37]:
data = data[['year','avgTemp','minTemp','maxTemp','rainFall','year_1','month','avgPrice']]
data.head()

       year  avgTemp  minTemp  maxTemp  rainFall year_1 month  avgPrice
0  20100101     -4.9    -11.0      0.9       0.0   2010    01      2123
1  20100102     -3.1     -5.5      5.5       0.8   2010    01      2123
2  20100103     -2.9     -6.9      1.4       0.0   2010    01      2123
3  20100104     -1.8     -5.1      2.2       5.9   2010    01      2020
4  20100105     -5.2     -8.7     -1.8       0.7   2010    01      2060

In [38]:
minmax = MinMaxScaler()

In [39]:
xy = np.array(data, dtype=np.float32)
yx = np.array(data.iloc[:, [-1]], dtype=np.float32 )

In [40]:
xy = minmax.fit_transform(xy)

In [41]:
model = tf.global_variables_initializer();

In [42]:
# 4개의 변인을 입력을 받습니다.
x_data = xy[:, 1:-1]

In [43]:
# 가격 값을 입력 받습니다.
y_data = yx

In [44]:
X_train, X_test, y_train, y_test = train_test_split(x_data,y_data,random_state=0)

In [45]:
# 플레이스 홀더를 설정합니다.
X = tf.placeholder(tf.float32, shape=[None, 6])
Y = tf.placeholder(tf.float32, shape=[None, 1])

In [46]:
# y = wX+b
W = tf.Variable(tf.random_normal([6, 1]), name="weight")
b = tf.Variable(tf.random_normal([1]), name="bias")

In [47]:
# 가설을 설정합니다. y = wX+b
# tensorflow 행렬곱 합수 matmul
hypothesis = tf.matmul(X, W) + b
# hypothesis = tf.nn.softmax(tf.matmul(X, W) + b)

In [48]:
# 비용 함수를 설정합니다. (예측값 - 실제값)제곱의 평균
# reduce_mean은 특정 차원을 제거하고 평균을 구한다.
cost = tf.reduce_mean(tf.square(hypothesis - Y))
correct_prediction = tf.equal(tf.argmax(hypothesis,1),tf.argmax(Y,1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction,tf.float32))

In [49]:
# 최적화 함수를 설정합니다.
optimizer = tf.train.MomentumOptimizer(learning_rate=0.0005,momentum=0.9)
train = optimizer.minimize(cost)

In [50]:
# 세션을 생성합니다.
sess = tf.Session()

In [51]:
# 글로벌 변수를 초기화합니다.
sess.run(tf.global_variables_initializer())

In [52]:
# 학습을 수행합니다.
for step in range(100001):
    cost_, hypo_, _ = sess.run([cost, hypothesis, train], feed_dict={X: X_train, Y: y_train})
    if step % 1000 == 0:
        print("#", step, " 손실 비용: ", cost_)
        print("- 배추 가격: ", hypo_[0])
        
# print("@", '정확도', accuracy.eval({X:x_data,Y:y_data}))

# 0  손실 비용:  12631896.0
- 배추 가격:  [0.48043817]
# 1000  손실 비용:  1892762.9
- 배추 가격:  [3504.4722]
# 2000  손실 비용:  1839737.5
- 배추 가격:  [3446.1885]
# 3000  손실 비용:  1824758.5
- 배추 가격:  [3419.3604]
# 4000  손실 비용:  1820453.2
- 배추 가격:  [3406.4897]
# 5000  손실 비용:  1819196.2
- 배추 가격:  [3400.227]
# 6000  손실 비용:  1818816.2
- 배추 가격:  [3397.231]
# 7000  손실 비용:  1818689.4
- 배추 가격:  [3395.8887]
# 8000  손실 비용:  1818638.0
- 배추 가격:  [3395.392]
# 9000  손실 비용:  1818611.6
- 배추 가격:  [3395.3242]
# 10000  손실 비용:  1818593.0
- 배추 가격:  [3395.4731]
# 11000  손실 비용:  1818579.2
- 배추 가격:  [3395.7102]
# 12000  손실 비용:  1818566.9
- 배추 가격:  [3395.9917]
# 13000  손실 비용:  1818557.0
- 배추 가격:  [3396.2815]
# 14000  손실 비용:  1818548.2
- 배추 가격:  [3396.568]
# 15000  손실 비용:  1818540.8
- 배추 가격:  [3396.836]
# 16000  손실 비용:  1818534.6
- 배추 가격:  [3397.0803]
# 17000  손실 비용:  1818528.9
- 배추 가격:  [3397.3123]
# 18000  손실 비용:  1818524.8
- 배추 가격:  [3397.5278]
# 19000  손실 비용:  1818520.1
- 배추 가격:  [3397.7246]
# 20000  손실 비용:  1818516.4
- 배추 가격:  [3397.9062]
# 21000  손실 비용:  1818513.4
- 배추 가격:  [3398.0723]
# 22000  손실 비용:  1818510.6
- 배추 가격:  [3398.2231]
# 23000  손실 비용:  1818509.2
- 배추 가격:  [3398.3623]
# 24000  손실 비용:  1818506.8
- 배추 가격:  [3398.4902]
# 25000  손실 비용:  1818505.6
- 배추 가격:  [3398.605]
# 26000  손실 비용:  1818503.8
- 배추 가격:  [3398.7114]
# 27000  손실 비용:  1818502.1
- 배추 가격:  [3398.8086]
# 28000  손실 비용:  1818501.5
- 배추 가격:  [3398.8975]
# 29000  손실 비용:  1818500.0
- 배추 가격:  [3398.9775]
# 30000  손실 비용:  1818499.5
- 배추 가격:  [3399.0503]
# 31000  손실 비용:  1818498.5
- 배추 가격:  [3399.1162]
# 32000  손실 비용:  1818497.6
- 배추 가격:  [3399.178]
# 33000  손실 비용:  1818496.1
- 배추 가격:  [3399.2324]
# 34000  손실 비용:  1818496.2
- 배추 가격:  [3399.284]
# 35000  손실 비용:  1818496.0
- 배추 가격:  [3399.3289]
# 36000  손실 비용:  1818494.6
- 배추 가격:  [3399.3708]
# 37000  손실 비용:  1818494.4
- 배추 가격:  [3399.4092]
# 38000  손실 비용:  1818493.9
- 배추 가격:  [3399.4429]
# 39000  손실 비용:  1818493.8
- 배추 가격:  [3399.4739]
# 40000  손실 비용:  1818493.2
- 배추 가격:  [3399.5017]
# 41000  손실 비용:  1818492.4
- 배추 가격:  [3399.5269]
# 42000  손실 비용:  1818492.6
- 배추 가격:  [3399.5498]
# 43000  손실 비용:  1818492.4
- 배추 가격:  [3399.57]
# 44000  손실 비용:  1818491.9
- 배추 가격:  [3399.587]
# 45000  손실 비용:  1818491.4
- 배추 가격:  [3399.6003]
# 46000  손실 비용:  1818491.8
- 배추 가격:  [3399.6123]
# 47000  손실 비용:  1818491.0
- 배추 가격:  [3399.6223]
# 48000  손실 비용:  1818491.4
- 배추 가격:  [3399.63]
# 49000  손실 비용:  1818490.4
- 배추 가격:  [3399.6365]
# 50000  손실 비용:  1818490.6
- 배추 가격:  [3399.6414]
# 51000  손실 비용:  1818490.2
- 배추 가격:  [3399.6453]
# 52000  손실 비용:  1818489.5
- 배추 가격:  [3399.6484]
# 53000  손실 비용:  1818490.1
- 배추 가격:  [3399.6504]
# 54000  손실 비용:  1818489.9
- 배추 가격:  [3399.6514]
# 55000  손실 비용:  1818489.6
- 배추 가격:  [3399.65]
# 56000  손실 비용:  1818489.2
- 배추 가격:  [3399.648]
# 57000  손실 비용:  1818488.9
- 배추 가격:  [3399.6455]
# 58000  손실 비용:  1818488.8
- 배추 가격:  [3399.6423]
# 59000  손실 비용:  1818488.6
- 배추 가격:  [3399.6396]
# 60000  손실 비용:  1818488.8
- 배추 가격:  [3399.636]
# 61000  손실 비용:  1818488.4
- 배추 가격:  [3399.631]
# 62000  손실 비용:  1818487.8
- 배추 가격:  [3399.6255]
# 63000  손실 비용:  1818487.8
- 배추 가격:  [3399.6196]
# 64000  손실 비용:  1818487.6
- 배추 가격:  [3399.6135]
# 65000  손실 비용:  1818487.4
- 배추 가격:  [3399.6074]
# 66000  손실 비용:  1818487.4
- 배추 가격:  [3399.6006]
# 67000  손실 비용:  1818487.2
- 배추 가격:  [3399.5928]
# 68000  손실 비용:  1818487.0
- 배추 가격:  [3399.5854]
# 69000  손실 비용:  1818487.0
- 배추 가격:  [3399.5774]
# 70000  손실 비용:  1818486.6
- 배추 가격:  [3399.5693]
# 71000  손실 비용:  1818487.0
- 배추 가격:  [3399.562]
# 72000  손실 비용:  1818487.0
- 배추 가격:  [3399.5542]
# 73000  손실 비용:  1818485.9
- 배추 가격:  [3399.5447]
# 74000  손실 비용:  1818486.1
- 배추 가격:  [3399.5352]
# 75000  손실 비용:  1818486.1
- 배추 가격:  [3399.526]
# 76000  손실 비용:  1818485.8
- 배추 가격:  [3399.516]
# 77000  손실 비용:  1818485.8
- 배추 가격:  [3399.5073]
# 78000  손실 비용:  1818485.2
- 배추 가격:  [3399.4978]
# 79000  손실 비용:  1818485.2
- 배추 가격:  [3399.4878]
# 80000  손실 비용:  1818485.6
- 배추 가격:  [3399.478]
# 81000  손실 비용:  1818485.6
- 배추 가격:  [3399.468]
# 82000  손실 비용:  1818485.2
- 배추 가격:  [3399.4573]
# 83000  손실 비용:  1818484.8
- 배추 가격:  [3399.4478]
# 84000  손실 비용:  1818485.1
- 배추 가격:  [3399.4373]
# 85000  손실 비용:  1818485.0
- 배추 가격:  [3399.4268]
# 86000  손실 비용:  1818484.8
- 배추 가격:  [3399.4165]
# 87000  손실 비용:  1818484.5
- 배추 가격:  [3399.4065]
# 88000  손실 비용:  1818484.6
- 배추 가격:  [3399.3965]
# 89000  손실 비용:  1818484.8
- 배추 가격:  [3399.3857]
# 90000  손실 비용:  1818484.8
- 배추 가격:  [3399.3748]
# 91000  손실 비용:  1818484.5
- 배추 가격:  [3399.3638]
# 92000  손실 비용:  1818484.6
- 배추 가격:  [3399.353]
# 93000  손실 비용:  1818484.6
- 배추 가격:  [3399.3423]
# 94000  손실 비용:  1818483.6
- 배추 가격:  [3399.3313]
# 95000  손실 비용:  1818484.2
- 배추 가격:  [3399.3203]
# 96000  손실 비용:  1818483.2
- 배추 가격:  [3399.3098]
# 97000  손실 비용:  1818484.2
- 배추 가격:  [3399.3003]
# 98000  손실 비용:  1818484.0
- 배추 가격:  [3399.2905]
# 99000  손실 비용:  1818483.4
- 배추 가격:  [3399.2793]
# 100000  손실 비용:  1818483.8
- 배추 가격:  [3399.2676]

In [53]:
# 글로벌 변수를 초기화합니다.
sess.run(tf.global_variables_initializer())

In [54]:
correct_prediction = tf.equal(tf.argmax(X_train,1),tf.argmax(y_train,1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction,tf.float32))

In [56]:
for step in range(100001):
    cost_, hypo_,accuracy_, _ = sess.run([cost, hypothesis, accuracy, train], feed_dict={X: X_test, Y: y_test})
    if step % 1000 == 0:
        print("#", step, " 손실 비용: ", cost_)        
        print("- 배추 가격: ", hypo_[0])
        if step == 1000:
            print("@", '정확도', accuracy_)

# 0  손실 비용:  1790906.1
- 배추 가격:  [2915.4326]
# 1000  손실 비용:  1790887.6
- 배추 가격:  [2915.2573]
@ 정확도 0.03468736
# 2000  손실 비용:  1790869.8
- 배추 가격:  [2915.075]
# 3000  손실 비용:  1790851.9
- 배추 가격:  [2914.9106]
# 4000  손실 비용:  1790835.0
- 배추 가격:  [2914.7397]
# 5000  손실 비용:  1790817.5
- 배추 가격:  [2914.5728]
# 6000  손실 비용:  1790800.5
- 배추 가격:  [2914.4126]
# 7000  손실 비용:  1790783.5
- 배추 가격:  [2914.249]
# 8000  손실 비용:  1790767.2
- 배추 가격:  [2914.0972]
# 9000  손실 비용:  1790751.0
- 배추 가격:  [2913.9385]
# 10000  손실 비용:  1790734.8
- 배추 가격:  [2913.7935]
# 11000  손실 비용:  1790719.0
- 배추 가격:  [2913.6436]
# 12000  손실 비용:  1790702.6
- 배추 가격:  [2913.5063]
# 13000  손실 비용:  1790687.2
- 배추 가격:  [2913.362]
# 14000  손실 비용:  1790672.4
- 배추 가격:  [2913.2324]
# 15000  손실 비용:  1790656.6
- 배추 가격:  [2913.0952]
# 16000  손실 비용:  1790641.5
- 배추 가격:  [2912.9697]
# 17000  손실 비용:  1790626.4
- 배추 가격:  [2912.8357]
# 18000  손실 비용:  1790611.8
- 배추 가격:  [2912.7114]
# 19000  손실 비용:  1790597.2
- 배추 가격:  [2912.5854]
# 20000  손실 비용:  1790582.4
- 배추 가격:  [2912.4634]
# 21000  손실 비용:  1790568.0
- 배추 가격:  [2912.3538]
# 22000  손실 비용:  1790553.6
- 배추 가격:  [2912.229]
# 23000  손실 비용:  1790539.6
- 배추 가격:  [2912.127]
# 24000  손실 비용:  1790525.8
- 배추 가격:  [2912.0112]
# 25000  손실 비용:  1790511.5
- 배추 가격:  [2911.9053]
# 26000  손실 비용:  1790498.0
- 배추 가격:  [2911.8093]
# 27000  손실 비용:  1790484.2
- 배추 가격:  [2911.6963]
# 28000  손실 비용:  1790470.9
- 배추 가격:  [2911.6062]
# 29000  손실 비용:  1790457.1
- 배추 가격:  [2911.5105]
# 30000  손실 비용:  1790443.9
- 배추 가격:  [2911.4055]
# 31000  손실 비용:  1790430.9
- 배추 가격:  [2911.3271]
# 32000  손실 비용:  1790417.1
- 배추 가격:  [2911.2354]
# 33000  손실 비용:  1790404.2
- 배추 가격:  [2911.1353]
# 34000  손실 비용:  1790391.4
- 배추 가격:  [2911.059]
# 35000  손실 비용:  1790378.4
- 배추 가격:  [2910.9736]
# 36000  손실 비용:  1790365.2
- 배추 가격:  [2910.8804]
# 37000  손실 비용:  1790352.8
- 배추 가격:  [2910.8076]
# 38000  손실 비용:  1790339.9
- 배추 가격:  [2910.7285]
# 39000  손실 비용:  1790327.1
- 배추 가격:  [2910.6401]
# 40000  손실 비용:  1790314.6
- 배추 가격:  [2910.5664]
# 41000  손실 비용:  1790302.0
- 배추 가격:  [2910.4937]
# 42000  손실 비용:  1790289.4
- 배추 가격:  [2910.418]
# 43000  손실 비용:  1790277.4
- 배추 가격:  [2910.333]
# 44000  손실 비용:  1790264.9
- 배추 가격:  [2910.2642]
# 45000  손실 비용:  1790253.0
- 배추 가격:  [2910.191]
# 46000  손실 비용:  1790240.8
- 배추 가격:  [2910.1187]
# 47000  손실 비용:  1790228.2
- 배추 가격:  [2910.0537]
# 48000  손실 비용:  1790216.6
- 배추 가격:  [2909.9968]
# 49000  손실 비용:  1790204.6
- 배추 가격:  [2909.936]
# 50000  손실 비용:  1790192.6
- 배추 가격:  [2909.8733]
# 51000  손실 비용:  1790180.6
- 배추 가격:  [2909.8203]
# 52000  손실 비용:  1790168.6
- 배추 가격:  [2909.7666]
# 53000  손실 비용:  1790156.8
- 배추 가격:  [2909.7112]
# 54000  손실 비용:  1790145.0
- 배추 가격:  [2909.6577]
# 55000  손실 비용:  1790133.2
- 배추 가격:  [2909.6096]
# 56000  손실 비용:  1790121.9
- 배추 가격:  [2909.5662]
# 57000  손실 비용:  1790110.1
- 배추 가격:  [2909.5132]
# 58000  손실 비용:  1790098.5
- 배추 가격:  [2909.457]
# 59000  손실 비용:  1790087.1
- 배추 가격:  [2909.4102]
# 60000  손실 비용:  1790075.6
- 배추 가격:  [2909.3838]
# 61000  손실 비용:  1790064.2
- 배추 가격:  [2909.3452]
# 62000  손실 비용:  1790052.9
- 배추 가격:  [2909.2964]
# 63000  손실 비용:  1790041.5
- 배추 가격:  [2909.2478]
# 64000  손실 비용:  1790030.5
- 배추 가격:  [2909.2063]
# 65000  손실 비용:  1790018.8
- 배추 가격:  [2909.1895]
# 66000  손실 비용:  1790007.6
- 배추 가격:  [2909.1567]
# 67000  손실 비용:  1789996.5
- 배추 가격:  [2909.1147]
# 68000  손실 비용:  1789984.8
- 배추 가격:  [2909.0671]
# 69000  손실 비용:  1789973.9
- 배추 가격:  [2909.0225]
# 70000  손실 비용:  1789962.6
- 배추 가격:  [2909.0125]
# 71000  손실 비용:  1789951.5
- 배추 가격:  [2908.9958]
# 72000  손실 비용:  1789940.5
- 배추 가격:  [2908.9644]
# 73000  손실 비용:  1789929.6
- 배추 가격:  [2908.9324]
# 74000  손실 비용:  1789918.0
- 배추 가격:  [2908.8975]
# 75000  손실 비용:  1789907.5
- 배추 가격:  [2908.8545]
# 76000  손실 비용:  1789896.6
- 배추 가격:  [2908.8115]
# 77000  손실 비용:  1789885.2
- 배추 가격:  [2908.775]
# 78000  손실 비용:  1789874.4
- 배추 가격:  [2908.7673]
# 79000  손실 비용:  1789863.6
- 배추 가격:  [2908.762]
# 80000  손실 비용:  1789852.5
- 배추 가격:  [2908.7593]
# 81000  손실 비용:  1789842.0
- 배추 가격:  [2908.7478]
# 82000  손실 비용:  1789831.4
- 배추 가격:  [2908.7327]
# 83000  손실 비용:  1789820.5
- 배추 가격:  [2908.706]
# 84000  손실 비용:  1789809.9
- 배추 가격:  [2908.68]
# 85000  손실 비용:  1789798.8
- 배추 가격:  [2908.6533]
# 86000  손실 비용:  1789788.5
- 배추 가격:  [2908.627]
# 87000  손실 비용:  1789777.8
- 배추 가격:  [2908.6047]
# 88000  손실 비용:  1789766.9
- 배추 가격:  [2908.585]
# 89000  손실 비용:  1789756.0
- 배추 가격:  [2908.564]
# 90000  손실 비용:  1789745.5
- 배추 가격:  [2908.544]
# 91000  손실 비용:  1789734.9
- 배추 가격:  [2908.524]
# 92000  손실 비용:  1789724.5
- 배추 가격:  [2908.5132]
# 93000  손실 비용:  1789713.5
- 배추 가격:  [2908.5127]
# 94000  손실 비용:  1789703.0
- 배추 가격:  [2908.5144]
# 95000  손실 비용:  1789692.6
- 배추 가격:  [2908.5166]
# 96000  손실 비용:  1789682.4
- 배추 가격:  [2908.5093]
# 97000  손실 비용:  1789672.0
- 배추 가격:  [2908.5015]
# 98000  손실 비용:  1789661.9
- 배추 가격:  [2908.4937]
# 99000  손실 비용:  1789651.4
- 배추 가격:  [2908.484]
# 100000  손실 비용:  1789640.6
- 배추 가격:  [2908.474]

In [17]:
# 학습된 모델을 저장합니다.
saver = tf.train.Saver()
save_path = saver.save(sess, "./saved.cpkt")
print('학습된 모델을 저장했습니다.')

학습된 모델을 저장했습니다.